@font-face {
  font-family: 'Hack';
  src: local('Hack'), url(./fonts/hack-regular.woff) format('woff');
}

body {
  margin: 0;
  font-family: 'Hack';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
